<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-webfont/1.7.0/lxgwwenkai-regular.min.css" integrity="sha512-Fzvxn9FrR1aKr/Z4Pg9KpnVHCsJoq2QwSu1juU2oQ6wDUkUMk3qQUUWKgFjk0m0LzCamIJVOkg5zeyNX5I1wgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
  <title>{{ title | withBlogName }}</title>
</head>
<body>
    <header class="text-center">
      <div class="mt-20">
        <a class="text-gray-600 hover:text-gray-500 text-2xl font-bold" href="/">举个栗子</a>
      </div>
      <div class="mt-4">
        <span class="text-gray-500 font-serif">好读书，不求甚解</span>
      </div>

      <nav class="mt-8 block">
        {% for entry in collections.all | eleventyNavigation %}
          <a
            class="text-blue-500 hover:text-blue-400 pr-2 pl-2" 
            href="{{ entry.url }}"
            {% if entry.url == page.url %}
              aria-current="page" data-state="active"
            {% endif %}
          >{{ entry.title }}</a>
        {% endfor %}
      </nav>
    </header>
    <div class="container mx-auto">
      <div class="max-w-xl mx-auto py-10">
        <main>
          {{ content | safe }}
        </main>
      </div>
    </div>
    
</body>
</html>
