---
layout: layouts/base.njk
---

{# <div class="flex bg-white ring-1 ring-gray-100 ring-offset-0 shadow-md rounded-md mb-5">
  <div>
    <div class="text-2xl">{{ title }}</div>
    <div class="text-xs text-gray-400">{{ date | formaterDate }}</div>
  </div>
  <div>
    {{ content | safe }}
  </div>
</div> #}
<div>
<div class="flex bg-white ring-1 ring-gray-100 ring-offset-0 shadow-md rounded-md mb-5">
  <div class="p-8">
    <div class="text-xl font-bold">{{ title }}</div>
    <div class="text-xs text-gray-400 mt-2 mb-8">{{ date | formaterDate }}</div>
    <div class="break-all text-sm">
      {{ content | safe }}
    <div>
  </div>  
</div>
</div>